
--- Page 1 ---
课程实践项目验收要求 
（2024级雷军班） 
    课程实践项目验收汇报的具体要求如表1所示。 
表1 课程实践项目验收汇报评分标准 
评分项 分值 评分要求 说 明 
验收 
准备 5 
提前完成验收准备： 
·PPT、开发文档在验收前拷贝到教室的机器中 
·或者提前调试好自带机器的环境及与教室投影的连接 
 
时间 
控制 5 
报告不超时： 
·生产小组的PPT报告和系统演示时间总共不超过15分钟 
·QA小组的PPT报告不超过5分钟 
·报告开始后，现场安装软件、演示切换、同组内报告人更换等的时间
都计算在规定时间之内 
不 接 受 现
场 调 换 报
告顺序。 
PPT 5 
·要素齐全 
·文字通顺，无错别字 
·图表规范，比例适当（报告过程中可以让最后一排的同学看清楚） 
 
表达 5 
·声音洪亮（可以让最后一排的同学听清楚） 
·不是全程念PPT 
·所述内容与PPT上的内容呈现保持同步 
可 以 多 人
报告。 
生产小
组报告
与演示 
40 
清晰、准确地阐述小组为实现选题的目标所做的工作（做什么、如何做
以及为什么这样做） ，具体包括（部分内容可在演示视频中体现） ： 
·领域背景和存在的问题 
·用户需求和系统目标 
·软件工程方法在系统开发过程中的运用（分析、设计、实现） 
·系统特色 
  创新/亮点/业务价值（含系统满足用户需求的程度） 
·与AI合作完成的内容 
·实践中面临的挑战/问题（以及如何解决这些问题） 
·系统演示 
  3 5分钟视频展示 （包括但不限于） 产品特色、 系统核心功能、 典型场
景应用和业务价值。视频建议格式为MP4（H.264 编码） ，确保验收场
地多媒体可播放。 
15分钟 
QA 
小组 
报告 
20 
清晰、准确地陈述QA小组针对生产小组系统的验收测试活动，包括： 
·软件工程方法在验收测试过程中的应用 
·与AI合作完成的内容（如有） 
·对生产小组项目测试的情况介绍 
  测试报告要素要齐全，测试结论合理有据。 
5分钟 

--- Page 2 ---
回答 
问题 20 
生产小组： 
·按现场指定要求演示系统、展示文档 
·能够解释演示过程中产生的结果 
·能够清晰、准确地回答现场针对项目开发的提问 
QA小组： 
·按指定要求展示验收测试相关文档 
·能够清晰、准确地回答现场针对验收测试工作的提问 
单独计时 
    课程实践项目的最终文档提交要求如表2所示。 
表2 最终文档提交要求 
评分项 分值 内容要求 说 明 
课程实
践报告 40 
清晰、准确地阐述小组为实现选题的要求所做的工作（做什么、如何
做以及为什么这样做） ，具体包括： 
·领域背景和存在的问题 
·用户需求和系统目标 
·软件工程方法在系统开发过程中的运用（分析、设计、实现） 
·系统特色 
  创新/亮点/业务价值（含系统满足用户需求的程度） 
·与AI合作完成的内容 
·实践中面临的挑战/问题（以及如何解决这些问题） 
·团队工作模式、协作、沟通情况以及个人贡献 
·开发总结（本组实践存在的问题、持续改进的建设性总结） 
报告中的 “郑重声
明” 部分必须有每
位小组成员的手
写签名。 
附录 50 
附录包括： 
·用户文档（安装说明、操作手册*、升级方法*） 
·开发文档（需求定义、需求规格说明、设计文档、测试文档） 
·AI使用日志（含各阶段的使用日志） 
·管理文档（小组章程、计划文档） 
·个人小结（承担任务、收获、存在问题、对团队与课程的建议） 
  命名规范：24级雷军班-SE-课头序号-张三-个人小结 
·QA文档 
  需求规格说明、 软件计划、 验收测试3次评审的评审表与评审报告。 
·PPT（各阶段报告PPT、验收汇报PPT、验收汇报演示视频） 
·源代码链接（源代码应有合适的序言注释、行内注释） 
该部分的评分与
课程阶段中提交
的文档分数无关，
将依据最终提交
的文档重新评分。
设计文档应包含
架构设计、至少4
个核心用例的详
细设计。 
个人小结为个人
作业，单独评分。 
命名 
规范 5 
    附录中各部分分别置于不同文件夹中，所有内容打包提交，最终
文档打包命名规范： 
    ·2024LJSEXX-选题-组长姓名-课程实践报告 
 
提交 
时间 5 
    7 月5 日22:00前各组长提交课程实践报告给各组的助教老师，
每位同学将“验收阶段”评分表（见群文件《小组编号-课头序号-姓
名-XX阶段-评分表》 ）于7月5日22:00前提交给各组的助教老师。 
不接受延期。 
注： 
1.标“*”的内容为附加项，没有该项不扣分，如有该项，根据质量分别加分0～10 分，文档最高分不超过100分。 
2.研究性报告、 附录中开发文档的格式规范参照 《武汉大学计算机学院课程设计报告书写规范 （修订版） 》 （见群文件） 。 